html, body {
    background-color: rgb(48, 17, 187);
    margin:0%;
    padding:0%;
}

.header1 {
    background-color: rgba(226, 217, 217, 0.897);
    font-size: 30px;
    font-family: Verdana, 'Courier New';
    text-decoration: underline
}
.func1 {
    font-family: 'Lucida Sans';
    text-align: center;
}
.header2 {
    background-color: rgba(226, 217, 217, 0.897);
    min-height: 70vh;
    padding-left: 100px;
    padding-right: 115px; 
    text-align: center;
    font-size: 35px;
    font-family: Arial;
    margin-left: 225px;
    margin-right: 225px;
}

/* Navigation Menu */

.menu ul li {
    float: right;
    padding:1%;
    margin:0%;
    list-style: none;
    display: flex;
    gap: 7px;
    color: white;
    text-decoration: underline
}

.img2 {
    float: right;
    margin-top: 144px;
    margin-right: 23px;
}


/* About Styling */

.h1 {
    text-align: center;
    font-size: 35px;
    color: white;
    text-decoration: underline;
}

.container {
   
    display: flex;
    justify-content: center;
    width: 1000px;
    margin-left:225px;
    margin-top: 10px;
}

.about1 {

    border: black solid;
    margin-right: 25px;
}

.about1 > h2 {
    color: silver;
    text-align: center;
    text-decoration: underline;
}

.about1 > p {
    color: silver;
    text-align: center;
}

.about1 > img {
    margin-left: 50px;
}






/* Portfolio Styling */

#success-header {
    font-weight: 100;
    font-size:65px;
    color: silver;
    border-bottom: 1px solid #ccc;

}

.success {
    background-color: silver;
    width: 1000px;
    margin: 50px auto;
    padding: 5px;

}

.success:nth-of-type(2n + 1) img {
    width: 150px;
    float: right;
    box-shadow: 0 3px 6px -2px #cfc6c6;
}

.img6 {
    padding-bottom: 20px;
}

.success:nth-of-type(2n) img {
    width: 150px;
    float: left;
    margin-right: 10px;
    box-shadow: 0 3px 6px -2px #cfc6c6;
}


.img7 {
    padding-bottom: 90px;
}

footer .media-link {
    height: 30px;
    margin-left: 665px;

}

button {
    margin-top: 5px;
    border-radius: 10px;

}

.form {
    margin-left: 255px;
}

label {
    color: white;
}



